<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/barangay360_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/barangay360_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Barangay360Mobile"
        android:largeHeap="true"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/Theme.Barangay360Mobile.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:label="@string/signin_page"
            android:theme="@style/Theme.Barangay360Mobile" />

        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:label="@string/home_page"
            android:theme="@style/Theme.Barangay360Mobile" />

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/home_page"
            android:theme="@style/Theme.Barangay360Mobile" />

        <activity
            android:name=".QRCodeScannerActivity"
            android:exported="false"
            android:theme="@style/Theme.Barangay360Mobile.Scanner" />
        <activity
            android:name=".CameraActivity"
            android:theme="@style/Theme.Barangay360Mobile.Scanner" />
    </application>

</manifest>